@import "@fontsource/geist-sans/100.css";
@import "@fontsource/geist-sans/200.css";
@import "@fontsource/geist-sans/300.css";
@import "@fontsource/geist-sans/400.css";
@import "@fontsource/geist-sans/500.css";
@import "@fontsource/geist-sans/600.css";
@import "@fontsource/geist-sans/700.css";
@import "@fontsource/geist-sans/800.css";
@import "@fontsource/geist-sans/900.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --techstacks: 163 72% 47%;
    --diff-add: 127 69% 43%;
    --diff-subtract: 359 70% 43%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --font-geist: "Geist Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-geist;
  }
}

.shiki {
  @apply py-2 rounded-lg shadow-md;
}

.shiki > code {
  display: grid;
}

.shiki > code > .line {
  @apply px-4;
}

.shiki > code > .line.diff.add {
  @apply bg-diff-add/50;
}

.shiki > code > .line.diff.remove {
  @apply bg-diff-subtract/50;
}
